.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  
  /* Extra opcional si querés diferenciar al admin visualmente */
  .product-list-container.admin {
    background-color: #e4e4e4; /* ejemplo visual */
    border: 2px dashed rgb(88, 88, 88);
  }
  
