.product-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Opcional: para que estén alineados a la izquierda */
    gap: 4px; /* Opcional: espacio entre elementos */
  }

  .product-details {
    display: flex;
    flex-direction: column;  /* Alinea verticalmente los span */
    align-items: center; /* Centra los span horizontalmente */
    gap: 5px; /* Espacio entre los span */
}
  