
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f002e;
  color: white;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 24px;
  margin: 0;
}

.navbar-nav {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.link-seleccionado {
  background-color: #ff7b00;
  color: white;
}

.link:hover {
  background-color: #555;
}
